{% extends 'ventas/base.html' %}


{% load static %}

{% block contenido %}

{% load humanize %}


<div class="productos">
    {% for p in productos %}
        <div class="card" style="width: 15rem;">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="">
            {% endif %}
            <div class="card-body">
              <h5>{{p.autor | capfirst}}</h5>
              <h2 class="card-title">{{p.nombre | title}}</h2>
              <h3>${{p.precio | intcomma}}
              </h3>
            </div>
        </div>
    {% endfor %}
</div>

    </div>

{% endblock %}