<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tecnomarket</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header id="header">
    <img src="img/menuiconwhite.png" alt="menu" class="menu" id="menu">
    <div class="contenedor_logo">
        <img src="img/tecnomarketpngicono.png" alt="logo" class="logo">
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="contacto.html">Contácto</a>
                </li>
                <li>
                    <a href="galeria.html">Galería</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="contenido">
    <div class="productos">
        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/lenovo_yoga_710.jpeg" alt="yoga">
            </div>

            <div class="detalles">
                <h5>Lenovo</h5>
                <h2>Yoga 710</h2>
                <h3>$799.990</h3>
            </div>
        </div>


        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/iphone.jpeg" alt="yoga">
            </div>

            <div class="detalles">
                <h5>apple</h5>
                <h2>Iphone</h2>
                <h3>$699.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/lenovo_tablet.jpeg" alt="tablet">
            </div>

            <div class="detalles">
                <h5>lenovo</h5>
                <h2>Tables</h2>
                <h3>$199.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/s9.jpeg" alt="s9">
            </div>

            <div class="detalles">
                <h5>Samsung</h5>
                <h2>Galaxy S9</h2>
                <h3>$699.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/macbook.jpeg" alt="macbook">
            </div>

            <div class="detalles">
                <h5>Apple</h5>
                <h2>Macbook 13</h2>
                <h3>$1.200.000</h3>
            </div>
        </div>

    </div>
</div>
<footer>
    <footer>
        <div class="marcas">
            <img src="img/footer/apple.png" alt="apple" style="width: 30px;">
            <img src="img/footer/lenovo.png" alt="lenovo">
            <img src="img/footer/microsoft.png" alt="microsoft">
            <img src="img/footer/samsung.png" alt="samsung">
            
        </div>
        <div class="logo_footer">
            <img src="img/tecnomarketpngicono.png" alt="logo">
        </div>
    </footer>
</footer>
<script src="js/menu.js"></script>
</body>
</html>